In [10]:
import pandas as pd

In [11]:
df = pd.read_csv(r"D:\Internship\raw\Nitya_inbreeding_data_byage_v3.txt" , sep=r"\s+")

In [12]:
df.head()

,ringnr,year,island,stage,age,nestling_age,cohort,FROH,sex,damringnr,...,first_island,last_island,first_year,last_year,first_stage,first_age,last_age,type,first_DNA_nestage,Fhat2
0,8414501,1992,20,j,0.0,NaN,1992.0,0.024551,f,NaN,...,20,20,1992,1998,j,0.0,6.0,capt,NaN,0.016772
1,8414527,1992,23,j,0.0,NaN,1992.0,0.005148,f,NaN,...,23,23,1992,1998,j,0.0,6.0,capt,NaN,0.017788
2,8414806,1993,27,a,1.0,NaN,1992.0,0.007106,m,NaN,...,27,27,1993,1998,a,1.0,6.0,capt,NaN,0.034268
3,8414812,1993,28,a,1.0,NaN,1992.0,0.000000,u,NaN,...,28,28,1993,1999,a,1.0,7.0,capt,NaN,-0.204719
4,8414501,1993,20,a,1.0,NaN,1992.0,0.024551,f,NaN,...,20,20,1992,1998,j,0.0,6.0,capt,NaN,0.016772

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 23612 entries, 0 to 23611
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ringnr             23612 non-null  str
 1   year               23612 non-null  int64
 2   island             23612 non-null  int64
 3   stage              23612 non-null  str
 4   age                23236 non-null  float64
 5   nestling_age       7299 non-null   float64
 6   cohort             23236 non-null  float64
 7   FROH               23612 non-null  float64
 8   sex                23612 non-null  str
 9   damringnr          21669 non-null  str
 10  sireringnr         21683 non-null  str
 11  first_island       23612 non-null  int64
 12  last_island        23612 non-null  int64
 13  first_year         23612 non-null  int64
 14  last_year          23612 non-null  int64
 15  first_stage        23612 non-null  str
 16  first_age          23236 non-null  float64
 17  last_age           23236 non-null  float64
 18  type               23612 non-null  str
 19  first_DNA_nestage  13916 non-null  float64
 20  Fhat2              23612 non-null  float64
dtypes: float64(8), int64(6), str(7)
memory usage: 3.8 MB

### ringnr - individual ID ( ring number), year -   island - the number indicate the island name,  stage - at which stage the bird is found j-juvenile (
very young), n -nestling(recent born), a - adult(at least one year) ,,, age ( age of bird, nestling n juvenile means 0 years) 
nestling age ( days after being hatched from egg - measured in days, so for adults n juvenile it is NA).  cohort - batch year , 
FROH - measure of inbreeding level, sex - gender ( it will be NA for nestling and some juvenile as it is hard to differentiate between male/female),
damringer - mother ring id, sireringnr - father ring id, first island - island where the individual is seen at first time, last island- island where 
individual is seen at list time, first year - first year individual seen, last year - last year individul seen, first stage - stage at which indiviual 
is seen 1st time, first age - age of individual when it is seen at first, last age - age at last time recorded , type - how data is collected (
    by capturing in nest or net - nestling are captured in nest and juvenile n adult are recoded by capturimg in mist netting or look through binocolour
Fhat2 - measure of inbreeding by differene method than FROH.

In [14]:
df.isna().sum() # it is better not to remove all na at first, instead prepare data according to our study.. otherwise we might lose a lot of data..
#for example in this case if we are removing na from nestling age, the birds from juvenile and adults will be removed as they have na for nestling age.

ringnr                   0
year                     0
island                   0
stage                    0
age                    376
nestling_age         16313
cohort                 376
FROH                     0
sex                      0
damringnr             1943
sireringnr            1929
first_island             0
last_island              0
first_year               0
last_year                0
first_stage              0
first_age              376
last_age               376
type                     0
first_DNA_nestage     9696
Fhat2                    0
dtype: int64

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 23612 entries, 0 to 23611
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ringnr             23612 non-null  str
 1   year               23612 non-null  int64
 2   island             23612 non-null  int64
 3   stage              23612 non-null  str
 4   age                23236 non-null  float64
 5   nestling_age       7299 non-null   float64
 6   cohort             23236 non-null  float64
 7   FROH               23612 non-null  float64
 8   sex                23612 non-null  str
 9   damringnr          21669 non-null  str
 10  sireringnr         21683 non-null  str
 11  first_island       23612 non-null  int64
 12  last_island        23612 non-null  int64
 13  first_year         23612 non-null  int64
 14  last_year          23612 non-null  int64
 15  first_stage        23612 non-null  str
 16  first_age          23236 non-null  float64
 17  last_age           23236 non-null  float64
 18  type               23612 non-null  str
 19  first_DNA_nestage  13916 non-null  float64
 20  Fhat2              23612 non-null  float64
dtypes: float64(8), int64(6), str(7)
memory usage: 3.8 MB

In [16]:
#let Us consider we are looking for the distribution of different stages of bird in different year across different island, 
#IN such case we need bird id(ringnr), year, island, stage, age, may be sex too ( but it wont be identified for nestling so it may be u mean unkown.
#lets creat a different dataset for it from origional data.

In [17]:
dist_data = df[['ringnr', 'year', 'island', 'stage', 'age', 'sex']].copy() # double [[ for alling multiple columns and .copy() to make sure it wont change original dataset unintentionally

In [18]:
dist_data.head()

    ringnr  year  island stage  age sex
0  8414501  1992      20     j  0.0   f
1  8414527  1992      23     j  0.0   f
2  8414806  1993      27     a  1.0   m
3  8414812  1993      28     a  1.0   u
4  8414501  1993      20     a  1.0   f

In [19]:
dist_data.isna().sum() # we can remove the na from age

ringnr      0
year        0
island      0
stage       0
age       376
sex         0
dtype: int64

In [20]:
dist_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 23612 entries, 0 to 23611
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ringnr  23612 non-null  str
 1   year    23612 non-null  int64
 2   island  23612 non-null  int64
 3   stage   23612 non-null  str
 4   age     23236 non-null  float64
 5   sex     23612 non-null  str
dtypes: float64(1), int64(2), str(3)
memory usage: 1.1 MB

In [21]:
dist_data = dist_data.dropna(subset='age')

In [22]:
dist_data.isna().sum()

ringnr    0
year      0
island    0
stage     0
age       0
sex       0
dtype: int64

In [23]:
# lets see which island have higher FROH ( inbreeding level), then we might consider, it depends on father and mother, so we can have additional column 
# damringnr and sireringne too, lets create different dataset

In [24]:
island_data = df[['ringnr', 'year', 'first_island', 'stage', 'FROH', 'damringnr','sireringnr','type']].copy()
#we are using first island instead of island, as we are looking which island is supposed to have higher inbreeding, bird can sometime fly from one island
#to another island so it belongs(born) in the island where it is first time spotted. FROH remain same through out lifetime of a bird.

In [25]:
island_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 23612 entries, 0 to 23611
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ringnr        23612 non-null  str
 1   year          23612 non-null  int64
 2   first_island  23612 non-null  int64
 3   stage         23612 non-null  str
 4   FROH          23612 non-null  float64
 5   damringnr     21669 non-null  str
 6   sireringnr    21683 non-null  str
 7   type          23612 non-null  str
dtypes: float64(1), int64(2), str(5)
memory usage: 1.4 MB

In [26]:
island_data.isna().sum()

ringnr             0
year               0
first_island       0
stage              0
FROH               0
damringnr       1943
sireringnr      1929
type               0
dtype: int64

In [27]:
island_data = island_data.dropna(subset = ['damringnr' ,'sireringnr'])

In [28]:
island_data.isna().sum()

ringnr          0
year            0
first_island    0
stage           0
FROH            0
damringnr       0
sireringnr      0
type            0
dtype: int64

In [29]:
island_data.info()

<class 'pandas.DataFrame'>
Index: 21344 entries, 33 to 23611
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ringnr        21344 non-null  str
 1   year          21344 non-null  int64
 2   first_island  21344 non-null  int64
 3   stage         21344 non-null  str
 4   FROH          21344 non-null  float64
 5   damringnr     21344 non-null  str
 6   sireringnr    21344 non-null  str
 7   type          21344 non-null  str
dtypes: float64(1), int64(2), str(5)
memory usage: 1.5 MB